<html>
    <head>
        <body>
            <form action="/predict" method="POST">
                <h1> Daibeties Progression Prediction </h1>
                							
                <label> AGE: </label> <input type="number" step="any" name = "age"> <br> <br>
                <label> SEX: </label> <input type="number" step="any"name = "sex"> <br> <br>
                <label> BMI: </label> <input type="number" step="any" name = "bmi"> <br> <br>
                <label> BP: </label> <input type="number" step="any" name = "bp"> <br> <br>
                <label> S1: </label> <input type="number" step="any" name = "s1"> <br> <br>
                <label> S2: </label> <input type="number" step="any" name = "s2"> <br> <br>
                <label> S3: </label> <input type="number" step="any" name = "s3"> <br> <br>
                <label> S4: </label> <input type="number" step="any" name = "s4"> <br> <br>
                <label> S5: </label> <input type="number" step="any" name = "s5"> <br> <br>
                <label> S6: </label> <input type="number" step="any" name = "s6"> <br> <br>
                
            
            
            
                <input type="submit" value="PREDICT"> 
            
            
            
            </form>
            {{Progression_Prediction}}
            
        </body>
            
</html>